webservice_prosur/Office/WebContent/wsdl/IPOfficeWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IPOfficeWSService" targetNamespace="http://ws.office.prosur.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.office.prosur.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.office.prosur.org/" version="1.0" xmlns:tns="http://ws.office.prosur.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getIPRecordFile" type="tns:getIPRecordFile"/>
<xs:element name="getIPRecordFileResponse" type="tns:getIPRecordFileResponse"/>
<xs:complexType name="getIPRecordFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="applicationId" type="xs:string"/>
      <xs:element minOccurs="0" name="fileName" type="xs:string"/>
      <xs:element minOccurs="0" name="patentType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getIPRecordFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="fileData" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getIPRecordFileResponse">
    <wsdl:part name="parameters" element="tns:getIPRecordFileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIPRecordFile">
    <wsdl:part name="parameters" element="tns:getIPRecordFile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IPOfficeWS">
    <wsdl:operation name="getIPRecordFile">
      <wsdl:input name="getIPRecordFile" message="tns:getIPRecordFile">
    </wsdl:input>
      <wsdl:output name="getIPRecordFileResponse" message="tns:getIPRecordFileResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IPOfficeWSServiceSoapBinding" type="tns:IPOfficeWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getIPRecordFile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getIPRecordFile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getIPRecordFileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IPOfficeWSService">
    <wsdl:port name="IPOfficeWSPort" binding="tns:IPOfficeWSServiceSoapBinding">
      <soap:address location="http://localhost:8080/Office/services/IPOfficeWSPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
